.nav-bars
{
   background-color: aqua;
   display: flex;
   justify-content: space-around;
   align-items: center;
   z-index: 1;
   position: fixed;
   width: 100%;
}

.footer-container
{
    display: flex;
    justify-content: space-around;
}

.footer-item
{
  width: 25%;

}


.footer
{
  background-color: aqua;
  padding: 10px;
}

.detail-container
{
   display: flex;
}